[Desktop Entry]
Type=Application
Name=Minerva
Comment=Lokaler sprachgesteuerter Assistent
Exec=/home/ahmed/Proj/Minerva/run.sh
Icon=audio-input-microphone
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
StartupNotify=false
